CSS-My Site/index.html
CSS-My Site/CSS/Styles.css
CSS-My Site/Favicon/about.txt
CSS-My Site/Favicon/android-chrome-192x192.png
CSS-My Site/Favicon/android-chrome-512x512.png
CSS-My Site/Favicon/apple-touch-icon.png
CSS-My Site/Favicon/favicon-16x16.png
CSS-My Site/Favicon/favicon-32x32.png
CSS-My Site/Favicon/favicon.ico
CSS-My Site/Favicon/site.webmanifest
CSS-My Site/Images/chillies.png
CSS-My Site/Images/cloud.png
CSS-My Site/Images/computer.png
CSS-My Site/Images/cpp.png
CSS-My Site/Images/mountain.png
CSS-My Site/Images/Tejas.png
CSS-My Site/Images/WebDev.png
HTML-Personal Site/Contact.html
HTML-Personal Site/Education.html
HTML-Personal Site/Experience.html
HTML-Personal Site/index.html
HTML-Personal Site/Projects.html
HTML-Personal Site/CSS/Styles.css
HTML-Personal Site/Images/Tejas.png
HTML-Personal Site/Images/Tejas2.png
